.page-header {
    background-color: #f9f9f9;
    border-bottom: .05rem solid #e5e5e5;
}
.page-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}
.page-footer p:last-child {
    margin-bottom: 0;
}

.tekst1 {
    font-size: 4rem;
}

.tekst2 {
    font-size: 3rem;
}

.card-header{
    font-size: 20px;
}

.pointer {
    cursor: pointer;
}

@media (max-width: 576px) { 
    .tekst1 {
        font-size: 2rem;
    }
    
    .tekst2 {
        font-size: 2rem;
    }
 }